<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"><strong><i class="fa fa-cog" aria-hidden="true"></i> CONTROLE DE ESTOQUE</strong></div>
    <div class="list-group list-group-flush">
        <a routerLink="/painel" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-tachometer" aria-hidden="true"></i>
          Dashboard</a>
        <a routerLink="/produtos" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-plug" aria-hidden="true"></i> Produtos</a>
        <a routerLink="/clientes" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-users" aria-hidden="true"></i> Clientes</a>
        <a routerLink="/fornecedores" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-truck" aria-hidden="true"></i>
          Fornecedores</a>
        <a routerLink="/vendas" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-money" aria-hidden="true"></i>
          Vendas</a>
        <a routerLink="/entrar" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-power-off" aria-hidden="true"></i>
          Sair</a>
    </div>
</div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <div class="container-fluid">
              <h4><i class="fa fa-home" aria-hidden="true"></i>
                JV MATERIAIS P/ CONSTRUÇÃO</h4>
              <button class="btn btn-primary" id="sidebarToggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
          </div>
      </nav>
      <!-- Page content-->
      <div class="container-fluid">
          <h1 class="mt-5 pl-4">Produtos</h1>
          <div class="pt-3 pl-4 d-flex">
            <button data-toggle="modal" data-target="#novoRegistro" class="btn btn-success">Adicionar Produto</button>
          </div>
          <div class="p-0 m-5 d-flex flex-wrap border">
            <input type="text" class="form-control" id="titulo" placeholder="Digite para pesquisar um registro" [(ngModel)]='tituloPost' (keyup)='findByTituloPostagem()'>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Qntd</th>
                  <th scope="col">Posição no estoque</th>
                  <th scope="col">Id Fornecedor</th>
                  <th scope="col">Data de cadastro</th>
                  <th scope="col">Modificações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let item of listaProdutos'>
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.nome}}</td>
                  <td>{{item.categoria}}</td>
                  <td>R${{item.valor}}</td>
                  <td>{{item.quantidade}}</td>
                  <td>{{item.posicao}}</td>
                  <td>{{item.fornecedores.nome}}</td>
                  <td>{{item.dataCadastro | date: "dd/MM/yyyy" }} às {{ item.dataCadastro | date: "HH:mm" }}</td>
                  <td>
                    <button (click)='findByIdProduto(item.id)' class="btn btn-info mr-3" data-toggle="modal" data-target="#editarRegistro">Editar</button>
                    <button (click)='findByIdProduto(item.id)' class="btn btn-danger" data-toggle="modal" data-target="#apagarRegistro">Apagar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Modal - Incluir registro -->
      <div class="modal fade" id="novoRegistro" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">Novo Produto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label for="titulo">Nome</label>
                <input [(ngModel)]='produto.nome' type="text" class="form-control" id="titulo" placeholder="Digite o nome">
              </div>
              <div class="form-group">
                <label for="foto">Foto</label>
                <input [(ngModel)]='produto.foto' type="text" class="form-control" id="foto" placeholder="Digite o link da foto">
              </div>
              <div class="form-group">
                <label for="usuario">Categoria</label>
                <select [(ngModel)]='produto.categoria' class="form-control" name="categoria" id="categoria">
                  <option>Selecione uma categoria:</option>
                  <option value="Hidraulica">Hidraulica</option>
                  <option value="Outra">Outra</option>
                </select>
              </div>
              <div class="form-group">
                <label for="fornecedor">Fornecedor</label>
                <select [(ngModel)]='idFornecedor' class="form-control" name="fornecedor" id="fornecedor" (change)='findByIdFornecedor(fornecedor.id)'>
                  <option *ngFor='let fornecedor of listaFornecedores' value="{{fornecedor.id}}">{{fornecedor.nome}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="valor">Valor</label>
                <input [(ngModel)]='produto.valor' type="number" class="form-control" name="email" id="email"
                  placeholder="Digite o valor">
              </div>

              <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input [(ngModel)]='produto.quantidade' type="number" class="form-control" name="quantidade" id="quantidade"
                  placeholder="Digite a quantidade">
              </div>
              <div class="form-group">
                <label for="posicao">Posição no estoque</label>
                <input [(ngModel)]='produto.posicao' type="text" class="form-control" id="posicao" placeholder="Digite a posição no estoque">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button (click)='cadastrar()' type="button" class="btn btn-success" data-dismiss="modal">Salvar</button>
            </div>
          </div>
        </div>
      </div>

       <!-- Modal - Editar registro -->
       <div class="modal fade" id="editarRegistro" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
       aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="TituloModalCentralizado">Editar Produto</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">

            <div class="form-group">
              <label for="titulo">Nome</label>
              <input [(ngModel)]='produtoSelecionado.nome' type="text" class="form-control" id="titulo" placeholder="Digite o nome">
            </div>
            <div class="form-group">
              <label for="foto">Foto</label>
              <input [(ngModel)]='produtoSelecionado.foto' type="text" class="form-control" id="foto" placeholder="Digite o link da foto">
            </div>
            <div class="form-group">
              <label for="usuario">Categoria</label>
              <select [(ngModel)]='produtoSelecionado.categoria' class="form-control" name="categoria" id="categoria">
                <option>Selecione uma categoria:</option>
                <option value="Hidraulica">Hidraulica</option>
                <option value="Outra">Outra</option>
              </select>
            </div>
            <div class="form-group">
              <label for="valor">Valor</label>
              <input [(ngModel)]='produtoSelecionado.valor' type="number" class="form-control" name="email" id="email"
                placeholder="Digite o valor">
            </div>

            <div class="form-group">
              <label for="quantidade">Quantidade</label>
              <input [(ngModel)]='produtoSelecionado.quantidade' type="number" class="form-control" name="quantidade" id="quantidade"
                placeholder="Digite a quantidade">
            </div>
            <div class="form-group">
              <label for="posicao">Posição no estoque</label>
              <input [(ngModel)]='produtoSelecionado.posicao' type="text" class="form-control" id="posicao" placeholder="Digite a posição no estoque">
            </div>
          </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
             <button (click)='atualizar()' type="button" class="btn btn-success" data-dismiss="modal">Salvar</button>
           </div>
         </div>
       </div>
     </div>
      <!-- Modal - Apagar registro -->
      <div class="modal fade" id="apagarRegistro" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">Apagar Produto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Você deseja apagar esse registro permanentemente?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button (click)='apagar(produtoSelecionado.id)' type="button" class="btn btn-success" data-dismiss="modal">Excluir</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Core theme JS-->
      <script src="js/scripts.js"></script>
