<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"><strong><i class="fa fa-cog" aria-hidden="true"></i> CONTROLE DE ESTOQUE</strong></div>
    <div class="list-group list-group-flush">
        <a routerLink="/painel" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-tachometer" aria-hidden="true"></i>
          Dashboard</a>
        <a routerLink="/produtos" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-plug" aria-hidden="true"></i> Produtos</a>
        <a routerLink="/clientes" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-users" aria-hidden="true"></i> Clientes</a>
        <a routerLink="/fornecedores" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-truck" aria-hidden="true"></i>
          Fornecedores</a>
        <a routerLink="/vendas" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-money" aria-hidden="true"></i>
          Vendas</a>
        <a routerLink="/entrar" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa fa-power-off" aria-hidden="true"></i>
          Sair</a>
    </div>
</div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <div class="container-fluid">
              <h4><i class="fa fa-home" aria-hidden="true"></i>
                JV MATERIAIS P/ CONSTRUÇÃO</h4>
              <button class="btn btn-primary" id="sidebarToggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
          </div>
      </nav>
      <!-- Page content-->
      <div class="container-fluid">
          <h1 class="mt-5 pl-4">Vendas</h1>
          <div class="pt-3 pl-4 d-flex">
            <button class="btn btn-success" routerLink="/venda" >Realizar uma venda</button>
          </div>
          <div class="p-3 m-5 d-flex">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Primeiro</th>
                  <th scope="col">Último</th>
                  <th scope="col">Nickname</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>


