#img-bg {
  /*background-color: rgb(32, 32, 32);*/

  height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-allblack {
    background-color: rgb(44, 44, 44);
    color:#fff;
  }
input, select {
  background-color: rgb(63, 63, 63);
  color:#fff;
  border:none
}

input:focus {
  background-color: rgb(63, 63, 63);
  color:#fff;
}

.border-md {
  border-radius: 30px;
  background-color:rgb(39, 39, 39);
}

